
@{
    ViewData["Title"] = "DetailBook";
    Layout = "~/Views/Share/_Layout2.cshtml";
}

<h1>DetailBook</h1>
<table class="table">
    <tr>
        <th>Id</th>
        <td>@ViewBag.BookDetail.Id</td>
    </tr>
    <tr>
        <th>Image</th>
        <td><img src="@ViewBag.BookDetail.Image" style="max-width: 70px;" /></td>
    </tr>
    <tr>
        <th>Title</th>
        <td>@ViewBag.BookDetail.Title</td>
    </tr>
    <tr>
        <th>subtitle</th>
        <td>@ViewBag.BookDetail.Subtitle</td>
    </tr>
    <tr>
        <th>description</th>
        <td>@ViewBag.BookDetail.Description</td>
    </tr>
    <tr>
        <th>author</th>
        <td>@ViewBag.BookDetail.AuthorId</td>
    </tr>
    <tr>
        <th>genre</th>
        <td>@ViewBag.BookDetail.GenreId</td>
    </tr>
    <tr>
        <th>quantity</th>
        <td>@ViewBag.BookDetail.QuantityInStock</td>
    </tr>
    <tr>
        <th>publishing year</th>
        <td>@ViewBag.BookDetail.PublishingYear</td>
    </tr>

</table>
<a href="/admin/Product" class="btn btn-info custom-back-button">Back</a>
