
@{
    ViewData["Title"] = "Borrowing";
    Layout = "~/Views/Share/_Layout.cshtml";
}

@section contenheader {
    <li class="nav-item">
        <a class="nav-link" href="/home/index">Sản Phẩm</a>
    </li>
    <li>
        <a class="nav-link" href="/home/borrowing">Sách Đã Mượn</a>
    </li>
}



<div class="container-fluid">
    <h2>Danh sách mượn</h2>
    <form action="/home/borrowing" method="post" style="margin-top:20px">
        <div class="row align-items-center">
            <div class="col-auto">
                <label for="title" class="form-label">Title:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="title" name="Title" value="@ViewBag.SearchUserName" class="form-control" style="width:250px" placeholder="Input Title..." />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <div class="row">

        <p class="text-primary">@ViewBag.message</p>

            <table class="table table-bordered mt-5">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Book</th>
                        <th>Start</th>
                        <th>end</th>
                        <th>actual end</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.ListItems != null)
                    {
                        @foreach (var item in ViewBag.ListItems)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>
                                    @foreach (var borrowItem in item.BorrowingItems)
                                    {
                                        <div class="d-flex align-items-center mb-2">
                                            <div>
                                                <img src="@borrowItem.Book.Image" style="max-width: 40px;" />
                                            </div>
                                            <div class="ms-2">
                                                <p class="mb-0">@borrowItem.Book.Title</p>
                                            </div>
                                        </div>
                                    }
                                </td>

                            <td>@item.StartAt.ToString("dd-MM-yyyy")</td>
                            <td>@item.EndAt.ToString("dd-MM-yyyy")</td>
                            @* <td>@item.ActualEndAt.ToString("dd-MM-yyyy")</td> *@
                            <td>@(item.ActualEndAt != null ? item.ActualEndAt.ToString("dd-MM-yyyy") : "null")</td>



                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                        <td colspan="5" class="text-center text-danger"><p>No borrowing records found.</p></td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
</div>


<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 0)
        {
            <li class="page-item">
                <a class="page-link" href="/home/borrowing?title=@ViewBag.SearchUserName&indexPage=0">
                    Đầu
                </a>
            </li>
        }

        @if (ViewBag.CurrentPage > 0)
        {
            <li class="page-item">
                <a class="page-link" href="/home/borrowing?title=@ViewBag.SearchUserName&indexPage=@(ViewBag.CurrentPage - 1)">
                    Trước
                </a>
            </li>
        }

        @for (int i = 0; i < ViewBag.TotalPages; i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                <a class="page-link" href="/home/borrowing?title=@ViewBag.SearchUserName&indexPage=@i">
                    @(i + 1)
                </a>
            </li>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages - 1)
        {
            <li class="page-item">
                <a class="page-link" href="/home/borrowing?title=@ViewBag.SearchUserName&indexPage=@(ViewBag.CurrentPage + 1)">
                    Sau
                </a>
            </li>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages - 1)
        {
            <li class="page-item">
                <a class="page-link" href="/home/borrowing?title=@ViewBag.SearchUserName&indexPage=@(ViewBag.TotalPages - 1)">
                    Cuối
                </a>
            </li>
        }
    </ul>
</nav>


